@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.btn-bg-primary {
  background-color: #1f8efa;
}
.hero {
  height: calc(100vh - 78px) !important;
  h1 {
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
    line-height: 60px;
    /* max-width: 80%; */
    font-size: 45px;
  }
}
.hero-avatar-container {
  background-color: #dfeefb;
  width: 360px;
  p {
    font-size: 17px;
  }
}
.btn-secondary {
  border: 1px solid;
}
.brands {
  position: relative;
  h2 {
    color: #373737;
  }
  .swiper-pagination {
    position: absolute;
    bottom: 0px !important;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
  }
}

.swiper-slide {
  transition: transform 0.5s ease-in-out; /* Smooth transition effect */
}

.swiper-wrapper {
  display: flex;
}
.post-img-container {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.post-img-container img {
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  transform-origin: center center;
}

.post-img-container:hover img {
  transform: scale(1.1) rotate(3deg);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

.right-side-wycd {
  height: 100%;
}
.gif-bg {
  background: url('../src/assets/phone-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  width: 330px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50px;
}

.gif-container img {
  width: 300px;
  height: 600px;
  margin: auto;
}

.accordion {
  transition: 0.3s all;
}
.wycd-img-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.wycd-img-container div {
  position: absolute;

  left: 20%;
  right: 0;
  bottom: 0;
  top: 17%;
}
.accordion div .text-gray-700 {
  color: black !important;
}
.accordion div {
  font-family: 'Inter', sans-serif !important;
}
.video-container {
  padding-bottom: 56.25%;
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .video-container {
    width: 100%;
  }
}
